In [24]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [25]:
pwd

'/Users/attoumassa/DSTI/Python Labs/Project'

In [26]:
df = pd.read_csv("/Users/attoumassa/DSTI/Python Labs/Project/books.csv",
                 sep=",",on_bad_lines='skip',
                 index_col="bookID")

In [27]:
df.head(10)

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
9,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.74,0976540606,9780976540601,en-US,152,19,1,4/26/2005,Nimble Books
10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,0439827604,9780439827607,eng,3342,28242,808,9/12/2005,Scholastic
12,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,0517226952,9780517226957,eng,815,3628,254,11/1/2005,Gramercy Books
13,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams,4.38,0345453743,9780345453747,eng,815,249558,4080,4/30/2002,Del Rey Books
14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,9781400052929,eng,215,4930,460,8/3/2004,Crown

In [34]:
df.describe()

,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11123.000000,1.112300e+04,11123.000000,1.112300e+04,11123.000000
mean,3.934075,9.759880e+12,336.405556,1.794285e+04,542.048099
std,0.350485,4.429758e+11,241.152626,1.124992e+05,2576.619589
min,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,3.770000,9.780345e+12,192.000000,1.040000e+02,9.000000
50%,3.960000,9.780582e+12,299.000000,7.450000e+02,47.000000
75%,4.140000,9.780872e+12,416.000000,5.000500e+03,238.000000
max,5.000000,9.790008e+12,6576.000000,4.597666e+06,94265.000000

In [39]:
df.isna().sum()

title                 0
authors               0
average_rating        0
isbn                  0
isbn13                0
language_code         0
  num_pages           0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64

In [40]:
df.dtypes

title                  object
authors                object
average_rating        float64
isbn                   object
isbn13                  int64
language_code          object
  num_pages             int64
ratings_count           int64
text_reviews_count      int64
publication_date       object
publisher              object
dtype: object

# 2. Data Cleaning

In [46]:
df['publication_date']=pd.to_datetime(df['publication_date'],format="%m/%d/%Y",errors='coerce')
#faire attention au format de la date (mois avant jour dans les données )

In [49]:
df.dtypes

title                         object
authors                       object
average_rating               float64
isbn                          object
isbn13                         int64
language_code                 object
  num_pages                    int64
ratings_count                  int64
text_reviews_count             int64
publication_date      datetime64[ns]
publisher                     object
dtype: object

In [52]:
df['num_occ'] = df.groupby('title')['title'].transform('count')

In [57]:
df.groupby('title')['title']

In [56]:
df.groupby(["authors","language_code"]).mean() #group by authors and laguage_code

In [38]:
df.groupby(["language_code"]).mean()

,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
language_code,,,,,
ale,4.360000,9.780345e+12,512.000000,102.000000,16.000000
ara,3.550000,9.789774e+12,349.000000,122.000000,12.000000
en-CA,4.025714,9.780914e+12,252.000000,4086.714286,324.428571
en-GB,3.923411,9.738672e+12,315.509346,2463.691589,104.060748
en-US,3.914659,9.754054e+12,330.439631,3773.906960,160.357244
eng,3.934062,9.759689e+12,336.797373,21570.272564,645.156601
enm,3.873333,9.780310e+12,1060.333333,3233.666667,84.000000
fre,3.971528,9.782231e+12,339.000000,3277.319444,64.513889
ger,3.950101,9.783324e+12,391.979798,234.727273,8.232323
gla,4.470000,9.781582e+12,250.000000,11.000000,0.000000
glg,3.360000,9.788498e+12,741.000000,36.000000,2.000000
grc,3.707273,9.780871e+12,413.363636,52.454545,2.454545
ita,4.078000,9.787121e+12,400.600000,3234.400000,55.800000
jpn,4.268696,9.784184e+12,190.869565,68.304348,3.152174
lat,4.353333,9.781349e+12,200.333333,114.666667,12.333333
msa,4.110000,9.789833e+12,784.000000,28.000000,6.000000
mul,4.126316,9.780819e+12,437.263158,386.631579,19.263158
nl,4.180000,9.789023e+12,744.000000,67.000000,9.000000
nor,3.600000,9.780970e+12,185.000000,86.000000,8.000000
por,3.945000,9.789246e+12,219.800000,165.100000,13.500000
rus,4.255000,9.782763e+12,371.500000,4477.000000,98.500000
spa,3.929312,9.785988e+12,365.793578,4636.114679,91.123853
srp,0.000000,9.788644e+12,222.000000,0.000000,0.000000
swe,3.455000,9.785289e+12,267.000000,2671.000000,157.000000
tur,4.420000,9.783570e+12,403.000000,1000.000000,41.000000
wel,5.000000,9.780862e+12,150.000000,1.000000,0.000000
zho,4.456429,9.789737e+12,321.857143,20.428571,0.500000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11123 entries, 1 to 45641
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               11123 non-null  object
 1   authors             11123 non-null  object
 2   average_rating      11123 non-null  float64
 3   isbn                11123 non-null  object
 4   isbn13              11123 non-null  int64
 5   language_code       11123 non-null  object
 6     num_pages         11123 non-null  int64
 7   ratings_count       11123 non-null  int64
 8   text_reviews_count  11123 non-null  int64
 9   publication_date    11123 non-null  object
 10  publisher           11123 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 1.0+ MB

In [33]:
df.groupby(["authors","language_code"]).mean()

,,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
authors,language_code,,,,,
A.B. Yehoshua/Hillel Halkin,en-US,3.600,9.780154e+12,416.0,654.0,88.0
A.D.P. Briggs/Leo Tolstoy/Fyodor Dostoyevsky,eng,3.760,9.780461e+12,256.0,17.0,1.0
A.E. Cunningham/Harlan Ellison/Charles F. Miller/Terry Dowling/Paul Rhoads/Jack Vance/Tom Shippey/Gene Wolfe/David Langford/Dan Simmons/David Mathew,eng,4.150,9.780712e+12,232.0,13.0,2.0
A.J. Jacobs,eng,3.760,9.780743e+12,389.0,24243.0,2326.0
A.M. Homes,en-US,3.280,9.780670e+12,256.0,3282.0,518.0
...,...,...,...,...,...,...
Émile Zola/Henri Mitterand,fre,4.060,9.782070e+12,462.0,6293.0,152.0
Émile Zola/Robert Lethbridge/Elinor Dorday,eng,4.010,9.780193e+12,592.0,821.0,52.0
Émile Zola/Robin Buss/Brian Nelson,eng,3.990,9.780193e+12,438.0,5525.0,342.0
Émile Zola/Roger Pearson,eng,4.045,9.780167e+12,528.0,12555.5,425.5
Éric-Emmanuel Schmitt,fre,3.820,9.782226e+12,85.0,975.0,62.0